<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" (click)="onAdd()">Add Product</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Inventory</th>
            <th scope="col">Name</th>
            <th scope="col">Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of page.content">
            <td>{{product.id}}</td>
            <td>{{product.type}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td>{{product.inventory}}</td>
            <td>{{product.name}}</td>
            <th scope="col">
              <button type="button" class="btn btn-outline-primary" (click)="onEdit(product.id)"><i class="far fa-edit"></i></button>
              <button type="button" class="btn btn-outline-danger" (click)="onDelete(product.id)"><i class="far fa-trash-alt"></i></button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
