<div class="container-fluid">
    <div class="row">
      <div class="col">
        <!-- <router-outlet></router-outlet> -->
        <ng-content></ng-content>
      </div>
    </div>
    <div class="row fixed-bottom bg-light">
      <div class="col">
        <h1>Footer</h1>
      </div>
    </div>
  </div>