<div class="modal-header">
    <h4 class="modal-title pull-left">Confirmation</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do you want to go through with the action?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onYes()">Yes</button>
    <button type="button" class="btn btn-default" (click)="onNo()">No</button>   
</div>
