<app-public-layout>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="add-form mx-auto">
        <div class="form-group">
            <label class="visually-hidden" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="ex. Asus" formControlName="name">
        </div>

        <div class="form-group">
            <label class="visually-hidden" for="type">Type</label>
            <input type="text" class="form-control" id="type" placeholder="ex. Laptop" formControlName="type">
        </div>

        <div class="form-group">
            <label class="visually-hidden" for="price">Price</label>
            <input type="text" class="form-control" id="price" placeholder="ex. 1500" formControlName="price">
        </div>

        <div class="form-group">
            <label class="visually-hidden" for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="ex. Some Description" formControlName="description">
        </div>
      
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</app-public-layout>
